/*content 开始*/
#content{
	padding-top: 88px;
	overflow: hidden;
}
#title{
	font-size: 24.5px;
    color: #7c7c7c;
    margin: 15px 0;
    font-weight: 400;
}
#title .glyphicon-heart{
	color: #575655;
	font-size: 27px;
}
#title > div{
	float: right;
	font-size: 13px;
}
.select{
	position: relative;
	top: -8px;
}
.select-box{
	position: relative;
	display: inline-block;
}
.sel-btn{
	height: 30px;
	line-height: 30px;
	background: #e8e8e8;
	color: #333333;
	padding: 0 10px;
	position: relative;
	cursor: pointer;
}
.sel-btn p{
	overflow: hidden;
	width: 198px;
}
.sel-btn span{
	border: 4px solid transparent;
	border-top: 4px solid #747474;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
}
.sel-menu{
	width: 216px;
	color: #333333;
	background: #fff;
	border:1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
	margin-top: 5px;
	line-height: 20px;
	border-radius: 6px;
	display: none;
	position: absolute;
	top: 30px;
	z-index: 1;
}
.sel-menu li{
	padding: 3px 20px;
	width: 176px;
	text-align: right;
}
.sel-menu li:hover{
	background: #0081c2;
	color: #fff;
	cursor: pointer;
}
#list thead th{
	background: #e5412d;
	color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    line-height: 20px;
    text-align: left;
}
#list{
	border-right: 1px solid #efefef;

}
.goods{
	height: 145px;
	position: relative;
	color: #7c7c7c;
	text-align: center;
}
.goods td{
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.goods .img-box{
	text-align: left;
	padding: 8px;
	/*float: left;*/
}
.goods img{
	width: 80px;
	padding: 3px;
	margin-right: 5px;
    border: 1px solid #efefef;
    background: #fff;
    float: left;
}
.goods div{
	margin-left: 100px;
}
.goods h5{
	font-weight: 400;
    color: #4d4d4d;
    font-size: 14px;
}
.goods h6{
	font-size: 12px;
	color: #e5412d;
	font-weight: 400;
	margin-bottom: 8px;
}
.goods p{
	color: #7c7c7c;
	font-size: 12px;
	display: inline-block;
}
.goods p span{
	background: #999999;
	color: #fff;
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
}
.goods .qty{
	width: 36px;
	height: 20px;
	padding: 4px 6px;
	border: 1px solid #cccccc;
	margin-left: 8px;
}
#list tr:hover,tr.selected{
	background: #dbdbdb;
}
/*#list .goods-1{
	background: #dbdbdb;
}*/
#list .goods-2{
	background: #fafafa;
}

/*payment 开始*/
#payment{
	margin-top: 15px;
}
.discount{
	width: 440px;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #efefef;
	color: #7c7c7c;
	background: #f4f4f4;
	text-align: center;
	display: inline-block;
}
.discount h5{
	margin-bottom: 15px;	
}
.discount input{
	width: 425px;
	color: #A7A7A7;
	border: 1px solid #efefef;
	line-height: 20px;
	padding: 4px 6px;
	margin-bottom: 15px;
	outline: none;
}
.discount a{
	background: #424242;
    color: #fff;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.sub{
	width: 180px;
	display: inline-block;
	text-align: right;
	color: #7c7c7c;
	padding: 4px 10px;
	margin-left: 30px;
}
.sub .sub-text{
	float: left;
}
.sub .sub-price{
	float: right;
	font-weight: bold;
	font-size: 14px;
}
.sub li{
	padding-bottom: 15px;
}
.total{
	width: 229px;
	text-align: center;
	float: right;
	/*display: block;*/
}
.total > span{
	display: block;
	width: 209px;
	font-size: 15px;
	font-weight: bold;
    color: #222;
    height: 29px;
    padding: 0 10px;
    margin-bottom: 15px;
    line-height: 29px;
    background: #e5e5e5;
}
.total a{
	display: block;
	width: 209px;
	background: #e5412d;
    color: #fff;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 15px;
}
.total .glyphicon{
	color: rgba(255, 255, 255, 0.4);
	padding: 10px 10px 10px 0;
}
/*payment 结束*/
/*content 结束*/